*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: #8b8b8b;
}
.card {
   width: 90%;
   max-width: 450px;
   background: linear-gradient(120deg, #2980b9, #8e44ad);
   color: #080808;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 40px 35 px;
   text-align: center;
   height: 55px;



}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 10px;
    height: 40px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font

}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.search button img{
    width: 16px;
}
.weather-icon {
    width: 160px;
   margin-top: 20px;
}
.weather h1 {
    font-size: 70px;
    font-weight: 500;
}
.weather h2 {
    font-size: 40px;
    font-weight: 500;
}
.details {
    display: flex;
    justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   margin-top: 45px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;

}
.col img {
    width: 45px;
    margin-right: 8px;
}

.humidity, .wind {
    font-size: 20px;
    margin: -6px
    
}